@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins&family=Prompt:wght@300&family=Roboto:wght@500&family=Stylish&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Stylish', sans-serif;
}

.header{
    background: green;
    padding: 3rem;
    position: relative;
}
.header .navbar h1{
    cursor: pointer;
    font-size: 2rem;
    font-style: italic;
}
.header .navbar .name{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container .todo{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.container .todo .heading{
    margin: 1rem 0;
}
.container .todo .enterTask{
    padding: 1rem;
    display: flex;
    justify-content: center;
}
.container .todo .enterTask input{
    width: 500px;
    padding: 0.3rem 0.5rem;
    font-size: 1.5rem;
    border: 1px solid black;
}
.container .todo .enterTask button{
    background-color: green;
    color: white;
    padding: 0 1rem;
    font-size: 1.5rem;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.5s;
}
.container .todo .enterTask button:hover{
    background: rgb(0, 50, 0);
}


.container .list .ul{
    padding: 1rem 10rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .list .ul li{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    align-items: center;
    background-color: rgb(203, 203, 203);
    border: 1px solid black;
}
.container .list button{
    border: 1px solid black;
    padding: 0.1rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s;
}
.container .list button:nth-child(1):hover{
    background-color: green;
    color: white;
}
.container .list button:nth-child(2):hover{
    background-color: red;
    color: white;
}